@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2f80ed;
  --color-secondary: #56ccf2;
  --color-base-200: #091f30;
  --color-base-300: #FFEE58;
  --color-accent: #706f6f;
}

a.active {
  @apply 
  bg-base-300
  text-black
}

* {
  font-family: "Inter", sans-serif;
}
